.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .home-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
 
  