.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .home-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
 
  nav {
    display: flex;
    justify-content: center;
    background-color: #008CBA;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 0.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 1rem;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-info {
    padding: 1rem;
  }
  
  .card-info h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card-info p {
    margin: 0;
    font-size: 1rem;
    color: #555;
  }
  
  .card-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #008CBA;
    text-align: right;
  }
  
  .putovanja {
    display: flex;
    flex-wrap: wrap;
    
  }
  .filteri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filteri div {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .filteri label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .filteri input,
  .filteri select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .filteri select {
    font-size: 16px;
    font-weight: bold;
  }
  